/* 重置所有元素的外边距、内边距和盒模型 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 设置页面的背景图片和颜色 */
body {
    color: #fff;
    background-image: url(https://cn.bing.com/th?id=OHR.BalloonsTurkey_ZH-CN2791109350_UHD.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: fixed;
    /* 将导航栏固定在页面顶部 */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 将导航栏子元素垂直居中对齐 */
    z-index: 100;
    /* 将导航栏设置为最上层 */
}

.logo {
    text-decoration: none;
    /* 取消下划线 */
    font-weight: 600;
    /* 设置字体粗细 */
    cursor: default;
    /* 设置鼠标样式为默认 */
    opacity: 0;
    /* 设置初始透明度为0 */
    animation: slideRight 1s ease forwards;
    /* 设置动画效果 */
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #ff4500;
}


.navbar a {
    display: inline-block;
    /* 将链接设置为块级元素 */
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    opacity: 0;
    transition: 0.3s;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2S * var(--i));
}

.navbar a:hover,
.navbar a:active {
    color: #b7b2a9;
    /* 设置字体颜色 */
}

.home {
    position: relative;
    /* 设置为相对定位，用于子元素定位 */
    width: 100%;
    height: 100vh;
    /* 设置高度为视口高度 */
    display: flex;
    justify-content: space-between;
    /* 将子元素分散对齐 */
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.chat {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.chat {
    display: none;
}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}


.home-content h3 span {
    color: #b7b2a9;
}

.text {
    /* 添加光标效果 */
    border-right: 2px solid white;
    /* 添加光标闪烁效果 */
    animation: blink 0.5s step-end infinite;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 18px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}


.home-img img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: -20px;
    box-shadow: 0 0 20px #b7b2a9;
    /* 设置阴影效果 */
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
    animation-delay: 2s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #b7b2a9;
    color: #b7b2a9;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
    background: #b7b2a9;
    color: #1f252d;
    box-shadow: 0 0 20px #b7b2a9;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #b7b2a9;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #b7b2a9;
    font-size: 16px;
    color: #1f252d;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    box-shadow: 0 0 20px #b7b2a9;
}

.btn:active {
    background: none;
    color: #b7b2a9;
    border: 2px solid #b7b2a9;
}

/*动画*/
@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
        /* 黑色边框颜色 */
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-36px);
    }

    100% {
        transform: translateY(0);
    }
}
